@import url('https://fonts.googleapis.com/css?family=Poppins');

/* General */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  margin-top: 25vh;
  text-align: center;
}

h1 {
  font-size: 120px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
}

/* Social */
a {
  text-decoration: none;
  color: #303030;
}

.social {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

.fa:hover {
  opacity: 0.7;
}

/* Card */
.card {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  flex: calc(25% - 20px);
  max-width: calc(25% - 20px);
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.11);
}

.card:first-child {
  margin-left: 0;
}

.card:last-child {
  margin-right: 0;
}

.item-location .card-main {
  padding: 9.5px;
}

.item-location .main-description {
  font-size: 23px;
}

.item-location .main-description span {
  display: block;
}

.card-header {
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #424242;
  background-color: #212121;
  color: white;
  padding: 5px 10px;
  position: relative;
}

.deprecated-link {
  position: absolute;
  top: 6px;
  right: 12px;
  color: white;
  font-size: 10px;
  text-decoration: none;
}

.card-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.main-description {
  font-size: 28px;
  text-align: center;
  min-height: 35px;
}

.muted {
  font-size: 0.65em;
  color: #ccc;
}